body {
    background-color: white;
    margin: 0px;
}

#controlpanel {
    width: 200px;
    height: 100px;
}

h1,
p {
    color: black;
    display: inline;
    font-size: 20px;
}

.staticObjects,
.dinamicObjects {
    position: absolute;
    border-radius: 50%;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
.staticObjectsWithRadius {
    border: 2px solid orange; /* Adjust border color and width */
    border-radius: 50%;
}
