body {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

#title {
    text-align: center;
    color: #333;
}

#myCanvas {
    border: 5px solid #333;
    margin-top: 10px;
    border-radius: 1rem;
}

#btn {
    position: absolute;
    color: black;
    width: 120px;
    height: 120px;
    border-radius: 8px;
    margin: auto;
    margin-left: 45%;
}